{% extends 'hosp/base.html' %}


{% block title %} Doctor Profile {% endblock %}
{% block nav %}<a class="navbar-brand" href="" >{{prof.firstName}}</a>{% endblock %}


{%block nav2 %} <a class="nav-link" href="{% url 'patient_profile' %}">{{userpat.firstName}}</a>{% endblock %}
{%block nav3 %} 
{% if userpat %}
{% else %}
<a class="nav-link" href="{% url 'hospital_profile' %}">{{prof.hospital.name}}</a>
{% endif%}
{% endblock %}


{%block search%} {% url 'doctor_search' %}{%endblock%}
{% block content %}

<style type="text/css">
    .table td{
    background-color: #E1F5FE;
    border:1px solid #7f1f1f;
      }
      .table tbody tr:hover td, .table tbody tr:hover th {
    background-color: lightblue;
}
.table{ font-color:#170213;
  font-weight: bolder;

height: 20px;
 }
 #rating{
    background-color: yellow;
 }
  </style>
<div class="container">
    
<div class="col-md-12 selectContainer">
  <table class="table table-hover ">
      <h1>PROFILE</h1>
      <tr >
          <td style="width:50%;"><b>NAME</b></td>
          <td style="width:50%;">{{prof.firstName}} {{prof.lastName}}</td>
      </tr>
      <tr >
          <td><b>DATE OF BIRTH</b></td>
          <td>{{prof.dob}}</td>
      </tr>
      <tr >
          <td><b>GENDER</b></td>
          <td>{{prof.gender}}</td>
      </tr>
      <tr >
          <td><b>HOSPITAL</b></td>
          <td>{{prof.hospital.name}}</td>
      </tr>
         <tr >
          <td id="rating"><b>Rating</b></td>
          <td id="rating" >{{rating}}</td>
      </tr>
  </table>
</div>

    <div class="col-md-12 selectContainer">
        <table class="table table-hover">
            <h2>EDUCATION</h2>
            <tr>
                <td style="width:50%;">
                    <b>COLLEGE</b>
                </td>
                <td style="width:50%;">
                    <b>DEGREE</b>
                </td>
            </tr>
              {% for educ in educs %}
            <tr>
                <td>{{educ.college}}</td>
                <td>{{educ.degree}}</td>
            </tr>
            {% endfor %}

 </table>
</div>

    <div class="col-md-12 selectContainer">
        <table class="table table-hover">
            <h2>SPECIALIZATION</h2>
            {% for spec in specs %}
            <tr>
                <td style="width:50%;"><b>TREATMENT</b></td>
                <td style="width:50%;">{{spec.treatment}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    
    </div>

</div>
{% endblock %}