{% extends 'base.html'%}
 {% block navbar %}
           <a class="navbar-brand">Patient Registration</a>
    {% endblock %}
{% block content %}
<div class="container" id="reg">
<form method="POST">
     {% csrf_token %}
   <div class="form-row">
   <div class="col"><input type="text" name="firstName" id="first" class="form-control" placeholder="First name"></div>
   <div class="col"><input type="text" name="lastName" id="last" class="form-control" placeholder="Last name"></div>
</div>
<div class="form-row">
 <div class="col"> {{form.email}}</div>
  <div class="col">{{form.password1}}</div>
   <div class="col">{{form.password2}}</div>

</div>
<div class="form-row">
   <div class="col">
      <select id="" name="gender" class="form-control">
         <option selected>Gender</option>
         <option>Male</option>
         <option>Female</option>
         <option>Others</option>
      </select>
   </div>
   <div class="col">
      <input type="text" id="bday" name="bday" class="form-control datepicker" placeholder="Birth Day">
   </div>
</div>
     <input class="btn btn-primary btnn" type="submit" value="Register">
   </form>;
   </div>

{% endblock %}