{% extends 'hosp/base.html' %}


{% block title %} Doctor Profile {% endblock %}
{% block nav %}<a class="navbar-brand" href="" >Doctor Profile </a>{% endblock %}

{%block nav2 %} <a class="nav-link" href="{% url 'doc_dash' %}"> Doctor Dashboard </a>{% endblock %}

{% block content %}

<style type="text/css">
    .table td{
    background-color: #E1F5FE;
    border:1px solid #7f1f1f;
      }
      .table tbody tr:hover td, .table tbody tr:hover th {
    background-color: lightblue;
}
.table{ font-color:#170213;
  font-weight: bolder;

height: 20px;
 }
  </style>
<div class="container">
    <h1>PROFILE</h1>
<div class="col-md-12 selectContainer">
  <table class="table table-hover ">
      <h2>GENERAL DETAILS</h2>
      <tr >
          <td style="width:50%;"><b>NAME</b></td>
          <td style="width:50%;">{{prof.firstName}} {{prof.lastName}}</td>
      </tr>
      <tr >
          <td><b>DATE OF BIRTH</b></td>
          <td>{{prof.dob}}</td>
      </tr>
      <tr >
          <td><b>GENDER</b></td>
          <td>{{prof.gender}}</td>
      </tr>
      <tr >
          <td><b>HOSPITAL</b></td>
          <td>{{prof.hospital}}</td>
      </tr>
  </table>
</div>

    <div class="col-md-12 selectContainer">
        <table class="table table-hover">
            <h2>EDUCATION</h2>
            <tr>
                <td style="width:50%;">
                    <b>COLLEGE</b>
                </td>
                <td style="width:50%;">
                    <b>DEGREE</b>
                </td>
            </tr>
            <tr>
                <td>{{educ.college}}</td>
                <td>{{educ.degree}}</td>
            </tr>

 </table>
</div>

    <div class="col-md-12 selectContainer">
        <table class="table table-hover">
            <h2>SPECIALIZATION</h2>
            <tr>
                <td style="width:50%;"><b>TREATMENT</b></td>
                <td style="width:50%;">{{spec.treatment}}</td>
            </tr>
        </table>
    </div>

    <div class="form-group">
            <label class="col-md-4 control-label"></label>
        <div class="col-md-4">  <br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <button type="button" class="btn btn-success"> <a href="{% url 'edit_profile' %}">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp EDIT PROFILE  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></button>

        </div>
    </div>

</div>
{% endblock %}